body{
  background-color: #001144;
  color: #dddddd;
  font-family: Verdana, Helvetica, sans-serif;
  margin: 10% 20%
}

h1{
  text-align:center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  color: #008899;
  font-size: 50px;
}

.exp-header {
  text-align:center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #008899;
}
